@{
    @model List<XBRLviewerMVC.Models.FactModel>
}

@{ FactModel f, f2; string fId, fId2; string noValue = ": Einki virði"; }

@{
    fId = "NameOfSubmittingEnterprise";
    f = Model.FirstOrDefault(x => x.Id == fId);
    <p class="text-left p-1 font-weight-bold" data-toggle="tooltip" title="@f?.Label">@(f?.Value ?? fId + noValue)</p>
}

@{
    fId = "NameOfReportingEntity";
    f = Model.FirstOrDefault(x => x.Id == fId);
    <h1 class="text-center p-1 font-weight-bold" data-toggle="tooltip" title="@f?.Label">@(f?.Value ?? fId + noValue)</h1>
}

@{
    fId = "AddressOfReportingEntityStreetName";
    fId2 = "AddressOfReportingEntityStreetBuildingIdentifier";

    f = Model.FirstOrDefault(x => x.Id == fId);
    f2 = Model.FirstOrDefault(x => x.Id == fId2);
    <h2 class="text-center p-1" data-toggle="tooltip" title="@f?.Label &#10;@f2?.Label">@(f?.Value ?? fId + noValue) @(f2?.Value ?? fId2 + noValue)</h2>
}

@{
    fId = "AddressOfSubmittingEnterprisePostcodeAndTown";
    f = Model.FirstOrDefault(x => x.Id == fId);
    <h2 class="text-center p-1" data-toggle="tooltip" title="@f?.Label">@(f?.Value ?? fId + noValue)</h2>
}

@{
    fId = "IdentificationNumberCvrOfReportingEntity";
    f = Model.FirstOrDefault(x => x.Id == fId);
    <h4 class="text-center p-1" data-toggle="tooltip" title="@f?.Label"><span class="font-weight-bold">Skrás.nr.: </span>@(f?.Value ?? fId + noValue)</h4>
}

@{
    fId = "DateOfApprovalOfReport";
    f = Model.FirstOrDefault(x => x.Id == fId);
    <h4 class="text-center p-1" data-toggle="tooltip" title="@f?.Label"><span class="font-weight-bold">Góðkend: </span>@(f?.Value ?? fId + noValue)</h4>
}

@{
    fId = "NameAndSurnameOfChairmanOfGeneralMeeting";
    f = Model.FirstOrDefault(x => x.Id == fId);
    <h4 class="text-center p-1" data-toggle="tooltip" title="@f?.Label"><span class="font-weight-bold">Fundarstjóri: </span>@(f?.Value ?? fId + noValue)</h4>
}