@{
    @model List<XBRLviewerMVC.Models.FactModel>
}

<table class="table table-sm table-bordered table-striped">
    <tbody>
        <tr>
            <td class="font-weight-bold">Felagið</td>
            <td>
                <!-- Felagið sum leggur rokaskapin fram, navn -->
                @{
                    XBRLviewerMVC.Models.FactModel nameOfReportingEntity = new XBRLviewerMVC.Models.FactModel();
                    nameOfReportingEntity = Model.FirstOrDefault(x => x.Id == "NameOfReportingEntity");
                    @nameOfReportingEntity.Value
                } <br />

                <!-- Bústaður hjá felagnum sum leggur roknskapin fram, gøtunavn -->
                <!-- Bústaður hjá felagnum sum leggur roknskapin fram, gøtunummar og hædd -->
                @{
                    XBRLviewerMVC.Models.FactModel addressOfReportingEntityStreetName = new XBRLviewerMVC.Models.FactModel();
                    XBRLviewerMVC.Models.FactModel addressOfReportingEntityStreetBuildingIdentifier = new XBRLviewerMVC.Models.FactModel();
                    addressOfReportingEntityStreetName = Model.FirstOrDefault(x => x.Id == "AddressOfReportingEntityStreetName");
                    addressOfReportingEntityStreetBuildingIdentifier = Model.FirstOrDefault(x => x.Id == "AddressOfReportingEntityStreetBuildingIdentifier");
                    @addressOfReportingEntityStreetName.Value @addressOfReportingEntityStreetBuildingIdentifier.Value
                } <br />

                <!-- Bústaður hjá fyritøkuni sum letur roknskapin inn, postnummar og býur -->
                @{
                    XBRLviewerMVC.Models.FactModel addressOfSubmittingEnterprisePostcodeAndTown = new XBRLviewerMVC.Models.FactModel();
                    addressOfSubmittingEnterprisePostcodeAndTown = Model.FirstOrDefault(x => x.Id == "AddressOfSubmittingEnterprisePostcodeAndTown");
                    @addressOfSubmittingEnterprisePostcodeAndTown.Value
                } <br /><br />

                <!-- Felag sum leggur roknskapin fram, skrásetingarnummar/ v-tal -->
                @{
                    XBRLviewerMVC.Models.FactModel identificationNumberCvrOfReportingEntity = new XBRLviewerMVC.Models.FactModel();
                    identificationNumberCvrOfReportingEntity = Model.FirstOrDefault(x => x.Id == "IdentificationNumberCvrOfReportingEntity");
                    <p>Skrás.nr.: @identificationNumberCvrOfReportingEntity.Value</p>
                }

                <!-- Roknskaparperioda, byrjanardagfesting -->
                <!-- Roknskaparperioda, endadagfesting -->
                @{
                    XBRLviewerMVC.Models.FactModel reportingPeriodStartDate = new XBRLviewerMVC.Models.FactModel();
                    reportingPeriodStartDate = Model.FirstOrDefault(x => x.Id == "ReportingPeriodStartDate");
                    XBRLviewerMVC.Models.FactModel reportingPeriodEndDate = new XBRLviewerMVC.Models.FactModel();
                    reportingPeriodEndDate = Model.FirstOrDefault(x => x.Id == "ReportingPeriodEndDate");

                    <p>Roknskaparár: @reportingPeriodStartDate.Value - @reportingPeriodEndDate.Value</p>
                }
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold">Nevnd</td>
            <td>
                <!-- First name and surname of member of supervisory board -->
                <!-- Title of member of supervisory board -->
                @{
                    var memberNames = Model.Where(x => x.Id == "NameAndSurnameOfMemberOfSupervisoryBoard")
                        .Select(x => x);

                    var memberTitles = Model.Where(x => x.Id == "TitleOfMemberOfSupervisoryBoard")
                        .Select(x => x);

                    foreach (var mn in memberNames)
                    {
                        @mn.Value

                        foreach (var mt in memberTitles)
                        {
                            if (mn.ContextID == mt.ContextID)
                            {
                                <span>, </span>@mt.Value
                            }
                        }

                        <br/>
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold">Stjórn</td>
            <td>
                
                <!-- Felag sum leggur roknskapin fram, skrásetingarnummar/ v-tal -->
                @{
                    XBRLviewerMVC.Models.FactModel identificationNumberCvrOfReportingEntity = new XBRLviewerMVC.Models.FactModel();
                    identificationNumberCvrOfReportingEntity = Model.FirstOrDefault(x => x.Id == "IdentificationNumberCvrOfReportingEntity");
                    <p>Skrás.nr.: @identificationNumberCvrOfReportingEntity.Value</p>
                }
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold">Grannskoðan</td>
            <td></td>
        </tr>
        <tr>
            <td class="font-weight-bold">Samtaksroknskapur</td>
            <td></td>
        </tr>
        <tr>
            <td class="font-weight-bold">Ársaðalfundur</td>
            <td></td>
        </tr>
    </tbody>
</table>

