@{
    @model List<FactModel>
}

@{ FactModel f, f2, f3, f4, f5; string fName, fName2, fName3, fName4, fName5; string noValue = ": Einki virði"; }

<table class="table table-sm table-bordered table-striped">
    <tbody>
        <tr>
            <td class="font-weight-bold">Felagið</td>
            <td>
                @{
                    fName = "NameOfReportingEntity";
                    f = Model.FirstOrDefault(x => x.Name == fName);
                    <p class="text-left p-1" data-toggle="tooltip" title="@f?.Label">@(f?.Value ?? fName + noValue)</p>
                }

                @{
                    fName = "AddressOfReportingEntityStreetName";
                    fName2 = "AddressOfReportingEntityStreetBuildingIdentifier";

                    f = Model.FirstOrDefault(x => x.Name == fName);
                    f2 = Model.FirstOrDefault(x => x.Name == fName2);
                    <p class="text-left p-1" data-toggle="tooltip" title="@f?.Label &#10;@f2?.Label">@(f?.Value ?? fName + noValue) @(f2?.Value ?? fName2 + noValue)</p>
                }

                @{
                    fName = "AddressOfSubmittingEnterprisePostcodeAndTown";
                    f = Model.FirstOrDefault(x => x.Name == fName);
                    <p class="text-left p-1" data-toggle="tooltip" title="@f?.Label">@(f?.Value ?? fName + noValue)</p>
                }

                @{
                    fName = "IdentificationNumberCvrOfReportingEntity";
                    f = Model.FirstOrDefault(x => x.Name == fName);
                    <p class="text-left p-1" data-toggle="tooltip" title="@f?.Label">Skrás.nr.: @(f?.Value ?? fName + noValue)</p>
                }

                @{
                    fName = "ReportingPeriodStartDate";
                    fName2 = "ReportingPeriodEndDate";
                    f = Model.FirstOrDefault(x => x.Name == fName);
                    f2 = Model.FirstOrDefault(x => x.Name == fName2);
                    <p class="text-left p-1" data-toggle="tooltip" title="@f?.Label &#10;@f2?.Label">Roknskaparár: @(f?.Value ?? fName + noValue) - @(f2?.Value ?? fName2 + noValue)</p>
                }
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold">Nevnd</td>
            <td>
                @{
                    fName = "NameAndSurnameOfMemberOfSupervisoryBoard";
                    fName2 = "TitleOfMemberOfSupervisoryBoard";

                    var memberNames = Model.Where(x => x.Name == fName)
                        .Select(x => x);

                    var memberTitles = Model.Where(x => x.Name == fName2)
                        .Select(x => x);

                    foreach (var mn in memberNames)
                    {
                        <p class="text-left p-1" data-toggle="tooltip" title="@mn?.Label">@(mn?.Value ?? fName + noValue)</p>

                        foreach (var mt in memberTitles)
                        {
                            if (mn.ContextRefName == mt.ContextRefName)
                            {
                                <p class="text-left p-1 font-italic" data-toggle="tooltip" title="@mt?.Label">@(mt?.Value ?? fName2 + noValue)</p>
                            }
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold">Stjórn</td>
            <td>
                @{
                    fName = "NameAndSurnameOfMemberOfExecutiveBoard";
                    f = Model.FirstOrDefault(x => x.Name == fName);
                    <p class="text-left p-1" data-toggle="tooltip" title="@f?.Label">@(f?.Value ?? fName + noValue)</p>
                }
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold">Grannskoðan</td>
            <td>
                @{
                    fName = "NameOfAuditFirm";
                    fName2 = "AddressOfAuditorStreetName";
                    fName3 = "AddressOfAuditorStreetBuildingIdentifier";
                    fName4 = "AddressOfAuditorPostCodeIdentifier";
                    fName5 = "AddressOfAuditorDistrictName";

                    f = Model.FirstOrDefault(x => x.Name == fName);
                    f2 = Model.FirstOrDefault(x => x.Name == fName2);
                    f3 = Model.FirstOrDefault(x => x.Name == fName3);
                    f4 = Model.FirstOrDefault(x => x.Name == fName4);
                    f5 = Model.FirstOrDefault(x => x.Name == fName5);

                    <p class="text-left p-1" data-toggle="tooltip" title="@f?.Label">@(f?.Value ?? fName + noValue)</p>
                    <p class="text-left p-1" data-toggle="tooltip" title="@f2?.Label&#10;@f3?.Label">@(f2?.Value ?? fName2 + noValue) @(f3?.Value ?? fName3 + noValue)</p>
                    <p class="text-left p-1" data-toggle="tooltip" title="@f4?.Label&#10;@f5?.Label">@(f4?.Value ?? fName4 + noValue) @(f5?.Value ?? fName5 + noValue)</p>
                }
            </td>
        </tr>

        <tr>
            <td class="font-weight-bold">Samtaksroknskapur</td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold">Ársaðalfundur</td>
            <td>
            </td>
        </tr>
    </tbody>
</table>

