@{
    @model XBRLviewerMVC.ViewModels.XBRLViewerViewModel
}

@{ FactModel f, f2; string fName, fName2; string noValue = ": Einki virði"; }

@{
    fName = "ReportingPeriodStartDate";
    fName2 = "ReportingPeriodEndDate";
    f = Model.Facts.FirstOrDefault(x => x.Name == fName);
    f2 = Model.Facts.FirstOrDefault(x => x.Name == fName2);
    <h2 class="text-left p-1 font-weight-bold" data-toggle="tooltip" title="@f?.Label &#10;@f2?.Label">Roknskaparár: @(f?.Value ?? fName + noValue) - @(f2?.Value ?? fName2 + noValue)</h2>
}

<table class="table table-sm table-bordered table-striped">

    <thead>
        <tr>
            <th></th>
            <th>Nota</th>
            <th>2019</th>
            <th>2018</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="font-weight-bold">Bruttoúrslit</td>
            <td></td>

            @{
                int counter = 0;

                fName = "GrossProfitLoss";

                var gplList = Model.Facts
                    .Where(x => x.Name == fName)
                    .OrderBy(y => y.ContextRefName)
                    .Select(x => x);

                foreach (var gpl in gplList)
                {
                    foreach (var context in Model.Contexts)
                    {
                        if (gpl.ContextRefName == context.Id && counter < 2)
                        {
                            <td class="text-left p-1" data-toggle="tooltip" title="@gpl?.Label">@(gpl?.Value ?? fName + noValue)</td>
                        }
                    }

                    counter++;
                }
            }

        </tr>

        <tr>
            <td>Starvsfólkakostnaður</td>
            <td></td>

            @{
                counter = 0;

                fName = "EmployeeBenefitsExpense";

                var ebeList = Model.Facts
                    .Where(x => x.Name == fName)
                    .OrderBy(y => y.ContextRefName)
                    .Select(x => x);

                string prev = "";

                foreach (var ebe in ebeList)
                {
                    if (counter < 2 && prev != ebe.Value)
                    {
                        <td class="text-left p-1" data-toggle="tooltip" title="@ebe?.Label">@(ebe?.Value ?? fName + noValue)</td>

                        counter++;

                        prev = ebe.Value;
                    }
                }
            }

        </tr>
        <tr>
            <td>Av- og niðurskrivingar</td>
            <td></td>

            @{
                counter = 0;

                fName = "DepreciationAmortisationExpenseAndImpairmentLossesOfPropertyPlantAndEquipmentAndIntangibleAssetsRecognisedInProfitOrLoss";

                var dList = Model.Facts
                    .Where(x => x.Name == fName)
                    .OrderBy(y => y.ContextRefName)
                    .Select(x => x);

                prev = "";

                foreach (var v in dList)
                {
                    if (counter < 2 && prev != v.Value)
                    {
                        <td class="text-left p-1" data-toggle="tooltip" title="@v?.Label">@(v?.Value ?? fName + noValue)</td>

                        counter++;

                        prev = v.Value;
                    }
                }
            }

        </tr>
        <tr>
            <td>Aðrir rakstrarkostnaðir</td>
            <td></td>

            @{
                counter = 0;

                fName = "OtherOperatingExpenses";

                var otherList = Model.Facts
                    .Where(x => x.Name == fName)
                    .OrderBy(y => y.ContextRefName)
                    .Select(x => x);

                prev = "";

                foreach (var v in otherList)
                {
                    if (counter < 2 && prev != v.Value)
                    {
                        <td class="text-left p-1" data-toggle="tooltip" title="@v?.Label">@(v?.Value ?? fName + noValue)</td>

                        counter++;

                        prev = v.Value;
                    }
                }
            }

        </tr>
    </tbody>
</table>